body {
  background-color: #f4f4f4;
  font-family: 'Arial', sans-serif;
  margin: 0;
  padding: 0;
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: lightgray;
}

.header h1 {
  margin: 15px;
}

.main {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.footer {
  margin: 20px;
  display: flex;
  justify-content: space-between;
}
